body {
  display: flex;
  justify-content: center;
  background-color: rgb(233, 146, 146);
  font-size: 2em;
}

#section-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 500px;
}

form input,
form button {
    position: relative;
    top: -4.5px;
    
}
form button{
    background-color: rgb(247, 208, 219);
    border-radius: 3px;
    color: rgb(185, 95, 117);
    font-weight: bold;
    border: none;
    box-shadow: 1px 2px 3px rgb(253, 56, 89);
}

form button:hover{
    background-color: rgb(235, 148, 174);
    color:white
    
}
main section {
  margin-top: 100px;
  background-color: rgb(250, 221, 221);
  box-shadow: 1px 4px 4px rgb(133, 16, 36);
}

#section-2 {
    position: relative;
    top: -40px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.card-style {
    box-shadow: 1px 5px 8px rgb(201, 158, 165);
  width: 242px;
  margin: 5px 3.5px;
}
div.card-style:hover{
    box-shadow: 1px 2px 4px rgb(240, 198, 204);
}
input{
    height: 20px;
    position: relative;
    left: -5px;
    color:rgb(253, 120, 142);
    font-weight: bold;
    border: none;
    box-shadow: 1px 3px 5px rgb(230, 98, 120);
    border-radius: 5px;
}

div h1{
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 2em;
   color: white;
   position: relative;
   top: 40px;
}
label{
    color: rgb(255, 138, 157);
    font-weight: bold;
    padding-right: 10px;
}
label:hover{
    
    box-shadow: 0px 2px 0px rgba(253, 96, 122, 0.356);
}
p{
    color: rgb(245, 137, 155);
    font-size: 0.6em;
    font-weight: 500;
    
}


input:hover{
    border: none;
}